
    <div class="container">
        <form>
            <h1 style="color:#00395d">User Savings Account Details</h1>
            <label for="acc_no">Account Number:{{account_no}}</label>
            <input type="text" id="acc_no" name="acc_no" ><br><br>

            
        
            <label for="name">Name:{{name}}</label>
            <input type="text" id="name" name="name"  ><br><br>

            <label for="email">E-mail ID:{{email}}</label>
            <input type="text" id="email" name="email" ><br><br>
        
            <label for="balance">Balance:{{balance}}</label>
            <input type="text" id="balance" name="balance" ><br><br>
        
            
           
            <label for="e_loan">Existing Loan:{{loan_exists}}</label>
            <input type="text" id="e_loan" name="e_loan" ><br><br>
        
            
        
          </form>
         
    </div>

