



<div class="form-wrap">
    <div class="tabs">
        <h3 class="partial-tab"><a class="active" href="#partial-tab-content" >Partial Payment</a></h3>
        <h3 class="foreclosure-tab"><a href="#foreclosure-tab-content" >Foreclosure</a></h3>
    </div><!--.tabs-->

    <div class="tabs-content">
        <div id="partial-tab-content" class="active">
            <form class="partial-tab" action="" method="post">
                <input type="text" class="input" id="loan_id" autocomplete="off" placeholder="Loan ID">
                <input type="text" class="input" id="amount" autocomplete="off" placeholder="Prepayment Amount">
                
                <input type="submit" class="button" value="Pay Now">
            </form><!--.login-form-->
            
        </div><!--.signup-tab-content-->

        <div id="foreclosure-tab-content">
            <form class="foreclosure-tab" action="" method="post">
                <input type="text" class="input" id="loan_id" autocomplete="off" placeholder="Loan ID">
                <input type="text" class="input" id="amount" autocomplete="off" placeholder="Foreclosure Amount">
                
               

                <input type="submit" class="button" value="Pay Now">
            </form><!--.login-form-->
            
        </div><!--.login-tab-content-->
    </div><!--.tabs-content-->
</div><!--.form-wrap-->

