<body>
    <div class="container">
        <form ngaction="/action_page.php">
            <h1 style="color:#00395d">Loan Details</h1>
            <h1></h1>
            <label for="acc_no">Account Number:{{account_number}}</label>
            <input type="text" id="acc_no" name="acc_no"><br><br>
        
            <label for="loan_id">Loan ID:{{loan_id}}</label>
            <input type="text" id="loan_id" name="loan_id"><br><br>
        
            <label for="total_loan">Total Loan:{{total_loan}}</label>
            <input type="text" id="total_loan" name="total_loan"><br><br>
        
            <label for="interest">Rate of Interest:{{interest}}</label>
            <input type="text" id="interest" name="interest"><br><br>
           
            <label for="tenure">Tenure:{{tenure}}</label>
            <input type="text" id="tenure" name="tenure"><br><br>
        
            <label for="status">Status:{{status}}</label>
            <input type="text" id="status" name="status"><br><br>-->
            
        
          </form>
    </div>
</body>