
<div>
    <div class="img">
        <img src="assets/image/laon.jpg" alt="Loan" class="loan">
    </div>
    
    <div class="c1">
        <br>
    
    
    <div>
        <br>
        <button class="dropbtn" [routerLink]="['/home/account_details']">Saving Account Details</button>
        &nbsp; &nbsp; 
        <button class="b1" type="submit" [routerLink]="['/home/apply']">Apply for loan</button> 
        &nbsp; &nbsp; 
       <div class="dropdown">
        <button class="dropbtn" >My Loans</button>
        <div class="dropdown-content">
          <a href="#" [routerLink]="['/home/loan_details']">View Loan Details</a>
          <a href="#" [routerLink]="['/home/repayment']">Loan Repayment Schedule</a>
          
          <a href="#">Download Repayment Schedule</a>
          <a href="#" [routerLink]="['/home/prepayment']">Loan Prepayment</a>
          <a href="#">Loan Forclosure</a>

          
          

          
        </div>
    </div>
    <br>
    <br>
    
    </div>
   
</div>
